/* Line chart component styles */

.linechart {
    background: #fff;
}

.linechart_path {
    /* Thick Line */
    /* stroke-width: 3; */
    /* No Fill */
    fill: none;
}

.linechart_axis {
    /* Grey Axis Color */
    stroke: #bdc3c7;
}

.linechart_point {
    fill: #fff;
    stroke-width: 2;
}

.linechart_area {
    padding: 8px;
    stroke: none;
}

.linechart_label {
    fill: rgb(85, 172, 244);
    font-weight: 500;
}

.hoverLine {
    stroke: #7D95B6;
    stroke-width: 1;
}