.pairbox {
    background: white;
    padding: 1.5em;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(191, 191, 191) !important;
}

.pairbox:hover {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari 3-8 */
    transform: scale(1.02, 1.02);
    box-shadow: 0px 0px 15px rgb(191, 191, 191) !important;
}

.pairbox-title {
    color: #000;
    margin-right: .35em;
    font-size: 16px;
}

.pairbox-short {
    color: #aaa;
    font-size: 16px;
}

.box-price {
    font-size: 16px;
    line-height: 20px;
    text-align: middle;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .pairbox {
        padding: .6em;
    }
    .pairbox-title {
        color: #000;
        margin-right: .35em;
        font-size: 14px;
    }
    .pairbox-short {
        color: #aaa;
        font-size: 14px;
    }
    .box-price {
        font-size: 14px;
        line-height: 20px;
        text-align: middle;
    }
}